@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m7each');
  src:  url('fonts/icomoon.eot?m7each#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m7each') format('truetype'),
    url('fonts/icomoon.woff?m7each') format('woff'),
    url('fonts/icomoon.svg?m7each#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Christmas:before {
  content: "\e900";
}
.icon-Easter:before {
  content: "\e901";
}
.icon-Halloween:before {
  content: "\e902";
}
.icon-holliday_Independence-Day:before {
  content: "\e903";
}
.icon-Thanks-giving-day:before {
  content: "\e904";
}
.icon-Valentines-Day:before {
  content: "\e905";
}
